<%- contentFor('body') %>
<p id="status">Running tests...</p>
<form id="form" action=/export method=post>
  <input id="export-download" type=submit name=download value="Export for download" disabled>
  <input id="export-github" type=submit name=github value="Export to GitHub" disabled>
</form>
<div id="results">
  <hr />
</div>

<% let resources = {}; %>
<% tests.forEach(function(test) {
  Object.assign(resources, test.resources)
}); %>
<div id="resources" style="display: none;">
  <% let resourceCount = 0;
  for (const [resourceId, resource] of Object.entries(resources)) {
    switch (resource.type) {
      case 'audio':
      case 'video':
        resourceCount += 1; %>
        <<%-resource.type%> id="resource-<%-resourceId%>">
          <% for (const src of resource.src) { %>
            <source src="/resources/custom-tests<%-src%>">
          <% } %>
          <% if (resource.subtitles) {
            let i = 0;
            for (const sub of resource.subtitles) { %>
            <track label="<%-sub.label%>" kind="subtitles" srclang="<%-sub.lang%>" src="/resources/custom-tests<%-sub.src%>" <% if (i == 0) { %>default<% } %>>
          <% i += 1;
            }
          } %>
        </<%-resource.type%>>
        <% break;
      case 'image': %>
        <img id="resource-<%-resourceId%>" src="/resources/custom-tests<%-resource.src%>">
        <% break;
    }
  }; %>
</div>

<!-- TODO: https://github.com/foolip/mdn-bcd-collector/issues/407 -->
<script src="/resources/json3.min.js"></script>
<script src="/resources/harness.js"></script>
<script>
  <% for (const [instanceId, instance] of Object.entries(resources)
    .filter((item) => (item[1].type === 'instance'))) { %>
    bcd.addInstance("<%- instanceId %>", <%- JSON.stringify(instance.src) %>);
  <% }; %>
  <% tests.forEach(function(test) { %>
    bcd.addTest("<%- test.ident %>", <%- JSON.stringify(test.tests) %>, "<%- test.exposure %>");
  <% }); %>
  window.onload = function() {
    bcd.go(undefined, <%-resourceCount%>, <%- !!selenium %>)
  };
</script>
